body {
  background-color: aliceblue;
}
.create-note {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
}
.create-note textarea {
  height: 150px;
  width: 300px;
}
