body {
  background-color: aliceblue;
}
.notes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.notes-container header {
  display: flex;
  margin-bottom: 10px;
}
.notes-container .note-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
