.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-note {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(242, 242, 242, 0.755);
}

.modal-note header {
  display: flex;
  justify-content: space-between;
}
.modal-note .create-note {
  background-color: aliceblue;
}
.modal-note input {
  font-size: 1rem;
  font-weight: bold;
}
.modal-note input,
.modal-note textarea {
  background-color: transparent;
  border: none;
}

.personal {
  background-color: rgba(255, 185, 253, 0.763);
}
.work {
  background-color: rgba(183, 255, 204, 0.763);
}
