.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-note {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  border-radius: 5px;
  padding: 20px;
}

.modal-note header {
  display: flex;
  justify-content: space-between;
}

.modal-front {
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 5px;
}
