.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-note {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
  padding: 50px;
  background-color: rgba(243, 243, 243, 0.721);
}
.modal-note input {
  font-size: 1rem;
  font-weight: bold;
}
.modal-note input,
.modal-note textarea {
  background-color: transparent;
  border: none;
}
