.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
}

.note {
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
}

.note .date {
  font-size: 0.8rem;
  color: rgb(152, 152, 152);
}

.note .text {
  text-align: start;
  white-space: normal;
  word-break: break-word;
}

.note .title {
  text-align: start;
  font-size: 1.2rem;
  font-weight: bold;
}

.note .dlt-btn {
  font-size: 0.8rem;
}
.note header {
  display: flex;
  align-items: center;
  gap: 10px;
}
