.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.note {
  display: flex;
  flex-direction: column;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
  padding: 20px;
}

.date {
  font-size: 0.8rem;
  color: rgb(152, 152, 152);
}

.text {
  text-align: start;
}

.title {
  text-align: start;
  font-size: 1.2rem;
  font-weight: bold;
}

.dlt-btn {
  font-size: 0.8rem;
}
header {
  display: flex;
  align-items: center;
  gap: 10px;
}
