.create-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
}

.create-note input,
.create-note textarea,
.create-note select {
  background-color: transparent;
  border: none;
  width: 100%;
}

.create-note textarea {
  height: 150px;
}

.submit-btn {
  width: 100%;
}
